.prodSearchInput{
	width: 40% !important;
    margin-left: 30%;
}

.listSearchInput{
	width: 40% !important;
    margin-left: 30% !important;
}
.tableSearchInput{
	padding-left: 10% !important;
    padding-right: 10% !important;
    padding-top: 10% !important;
}